<div th:fragment="header">
    <div id="accordian">
        <ul class="list-group border-5">
            <li class="list-group-item"><a th:href="@{/thongke}"><i class="fa fa-chart-line"></i> Thống kê</a></li>
            <li class="list-group-item"><a th:href="@{/users}"><i class="fa fa-user-cog"></i> Quản lý người dùng</a></li>
            <li class="list-group-item"><a th:href="@{/Car}"><i class="fa fa-box"></i> Quản lý Xe</a></li>
            <li class="list-group-item"><a th:href="@{/Review}"><i class="fa fa-shopping-cart"></i> Quản lý Đánh giá</a></li>
            <li class="list-group-item"><a th:href="@{/settings}"><i class="fa fa-cog"></i> Settings</a></li>
        </ul>
    </div>
</div>
