<div th:fragment="header">
<a class="navbar-brand mb-3" href="">Car<span>Book</span></a>
<hr>
    <div id="accordian">
        <ul class="list-group border-5">
            <li class="list-group-item"><a th:href="@{/admin/thongke}"><i class="fa fa-chart-line"></i> Thống kê</a></li>
            <li class="list-group-item"><a th:href="@{/admin/account}"><i class="fa fa-user-cog"></i> Quản lý người dùng</a></li>
            <li class="list-group-item"><a th:href="@{/admin/car}"><i class="fa-solid fa-car"></i></i> Quản lý Xe</a></li>
            <li class="list-group-item"><a th:href="@{/admin/Review}"><i class="fa-solid fa-star"></i></i> Quản lý Đánh giá</a></li>
            <li class="list-group-item"><a th:href="@{/admin/Bill}"><i class="fa-solid fa-money-bill-1-wave"></i></i> Quản lý Bills</a></li>
            <li class="list-group-item"><a th:href="@{/admin/Customer}"><i class="fa-solid fa-person"></i>Quản lý khách hàng</a></li>
            <li class="list-group-item"><a th:href="@{/admin/PendingCar}"><i class="fa-solid fa-person"></i>Quản lý bài duyệt xe</a></li>
            <li class="list-group-item"><a th:href="@{/admin/BookingCar}"><i class="fa-solid fa-person"></i>Quản lý bài thuê xe</a></li>
        </ul>
    </div>
</div>
		