<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	th:replace="~{/views/admin :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quản Lý Bài Đăng</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container mt-5">
		<h1 class="text-center mb-4">Quản Lý Bài Đăng</h1>

		<div th:if="${successMessage}" class="alert alert-success">
			<span th:text="${successMessage}"></span>
		</div>
		<div th:if="${errorMessage}" class="alert alert-danger">
			<span th:text="${errorMessage}"></span>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Tên Xe</th>
					<th>Hiệu Xe</th>
					<th>Màu Sắc</th>
					<th>Địa chỉ</th>
					<th>Hình Ảnh</th>
					<th>Giá Theo Giờ</th>
					<th>Tên Người Cho Thuê</th>
					<th>Hành Động</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${posts}">
					<td th:text="${post.postID}"></td>
					<td th:text="${post.carName}"></td>
					 <td th:text="${post.brandID}"></td> 
					<!-- <td th:text="${car.carBrand != null ? car.carBrand.brandName : 'N/A'}"></td> -->
					<td th:text="${post.color}"></td>
					<td th:text="${post.address}"></td>
					<td><img th:src="@{${post.image}}" alt="Car Image"
						style="width: 100px; height: auto;"></td>
					<!--  <td>
                        <img th:src="@{${post.ownershipDocument}}" alt="Car Image" style="width: 100px; height: auto;">
                    </td> -->
					<td th:text="${post.priceHoursCar}"></td>
					<td th:text="${post.priceHoursCar}"></td>
					<td><div class="btn-group">
							<!-- Duyệt bài đăng -->
							<form action="/index/approvePost" method="post"
								style="display: inline;">
								<input type="hidden" name="postID" th:value="${post.postID}">
								<button type="submit" class="btn btn-success">Duyệt</button>
							</form>

							<!-- Từ chối bài đăng -->
							<form action="/index/rejectPost" method="post"
								style="display: inline;">
								<input type="hidden" name="postID" th:value="${post.postID}">
								<button type="submit" class="btn btn-danger">Từ Chối</button>
							</form>
						</div></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>
