body, html {
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}

.form-box {
	background-color: rgba(255, 255, 255, 0.5);
  	backdrop-filter: blur(30px);
    border-radius: 20px;
     border: 1px solid white;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Điều chỉnh giá trị này để thay đổi độ rộng của form */
    margin-left: 50px; /* Điều chỉnh giá trị này để di chuyển form sang phải */
   
    
  
   
  

}

.form-box input {
    border-radius: 5px;
}

.input-group-text {
    border-radius: 0 5px 5px 0;
}

.form-box input:focus {
    box-shadow: none;
    border-color: #f6288c;
    
}

.register-btn {
    
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

.link {
    text-decoration: none;
    color: #63118b;
}

.link:hover {
    color: #f80f88;
}

.text h1 {
    font-size: 60px;
}

@media screen and (max-width: 992px) {
    .text {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 776px) {
    .text {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .text h1 {
        font-size: 33px;
    }

    .text h2 {
        font-size: 20px;
    }
}
