<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(view)">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/views/css/admin.css}">
    
</head>
<body>

    <div class="container-fluid">
        <div class="row topNav">
            <!-- Include navigation bar -->
            <div th:replace="views/admin/nav :: nav"></div>
        </div>
        <div class="row flex-grow-1 h-100">
            <div class="col-md-3 left_content bg-dark text-light">
                <!-- Include header with navigation menu -->
                <div th:replace="views/admin/header :: header"></div>
            </div>
            <div class="col-md-9 right_content">
                <!-- Admin content here -->
               <div th:replace="${view}"></div>
            </div>
        </div>
    </div>
    
    <!-- Include footer -->
    <div th:replace="views/admin/footer :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/admin.js}"></script>
    <script src="https://kit.fontawesome.com/03099bb746.js"></script>

</body>
</html>