<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quản Lý Bài Đăng</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1>MANAGE POST CAR</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Car Name</th>
					<th>Car Brand</th>
					<th>Color</th>
					<th>Address</th>
					<th>Image</th>
					<th>Hourly Rate</th>
					<th>Car Owner</th>
					<th>Discount code</th>
					<th>Account</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${posts}">
					<td th:text="${post.postID}"></td>
					<td th:text="${post.carName}"></td>
					<td th:text="${post.carBrand}"></td>
					<td th:text="${post.color}"></td>
					<td th:text="${post.address}"></td>
					<td><img th:src="@{${post.image}}" alt="Car Image"
						style="width: 100px; height: auto;"></td>
					<td th:text="${post.priceHoursCar}"></td>
					<td th:text="${post.customerName}"></td>
					<td th:text="${post.discountID}"></td>
					<td>
						<form action="/index/approvePost" method="post"
							style="display: inline;">
							<input type="hidden" name="postID" th:value="${post.postID}">
							<button type="submit" class="btn btn-success">Duyệt</button>
						</form>
						<form action="/index/rejectPost" method="post"
							style="display: inline;">
							<input type="hidden" name="postID" th:value="${post.postID}">
							<button type="submit" class="btn btn-danger">Từ Chối</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
